			+--------------------+
			|    EDA092/DIT400   |
			| LAB ASSIGNMENT 2:  |
			| 	THREADS      |
			|   DESIGN DOCUMENT  |
			+--------------------+
				   
---- GROUP B27 ----

>> Fill in the group number, names and email addresses of your group members.
FirstName LastName <email@domain.example>

Patrik Haar <haar@student.chalmers.se>
David Gustafsson <davgusta@student.chalmers.se>


---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

			     ALARM CLOCK
			     ===========

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

file - thread.h
struct thread
  {
    ...
    /* This variable keeps track of how long to block the tread if it's
       sleeping, it is ticking down and will wake the thread on 0 */
    int64_t sleep_ticks;
    ...
  };

file - thread.c
    /* Help method called from thread_tick on each timer interrupt to
       wake a thread if it has slept long enough */
    static void thread_sleep_tick(struct thread *t);

---- ALGORITHMS ----

>> A2: Briefly describe what happens in a call to timer_sleep(),
>> including the effects of the timer interrupt handler.

On a call to timer_sleep() with a tick count > 0 it will set the current
thread's sleep_ticks to the given amount, disable interrupts and call
thread_block() to block until the sleep_ticks have reached zero.
When unblocked it restores interrupts to what it was before thread_block()
was called.

Each time timer_interrupt is called it will call the method thread_tick()
which tracks statistics and goes over all blocked threads and decreases
their sleep_ticks by 1 if they are sleeping. If it is reduced to 0 the
thread is unblocked.

>> A3: What steps are taken to minimize the amount of time spent in
>> the timer interrupt handler?

It loops over all threads but only handles those who are sleeping.

---- SYNCHRONIZATION ----

>> A4: How are race conditions avoided when multiple threads call
>> timer_sleep() simultaneously?

The only critical section is the scheduler called after thread_block(),
this is handled by disabling interrupts before calling thread_block()
and since pintos is single core this prevents all other threads from
accessing it at the same time.

>> A5: How are race conditions avoided when a timer interrupt occurs
>> during a call to timer_sleep()?

If the timer_sleep was called with a number > 1 the worst that could
happen is that the thread might sleep 1 tick shorter which is not
a problem since the method only guarantees the thread to sleep
APROXIMATELY the given amount of ticks.
However if timer_sleep() was called with 1 it could be reduced to 0
before thread_block() was called which would break the ticking that
would wake it. Therefore we set the number of ticks after we have
disabled interrupts right before calling thread_block().

---- RATIONALE ----

>> A6: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

We made a method in thread to check if we should unblock a thread that
has slept long enough but we debated if we really should iterate over
all threads in timer.c. The method thread_tick() in thread.c called
every timer interrupt to handle ticks and threads was the perfect fit
so we used this for our implementation instead of putting it directly
in timer_interrupt().

Other then that we didn't really have many different designs in mind,
we knew we needed something in a specific thread to keep track of when
to wake it if it is sleeping so having it in the thread struct seemed
like the natural approach.
Since interrupts between setting the sleep_ticks and calling
thread_block() might break the unblocking we chose to put it in the
part with interruptions disabled.

			    BATCH SCHEDULING
			    ================
---- DATA STRUCTURES ----
>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, semaphore, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

/* A sempaphore that signifies the waiting queues of the priority tasks
The place 0 in the array signifies the sending side while 1 sigfies the 
recieving side */
static struct semaphore prioQueue[2];

/* A semaphore that signifies the waiting queues of the normal tasks
The place 0 in the array signifies the sending side while 1 sigfies the
 recieving side */
static struct semaphore normQueue[2];

/* A lock that manages access to the variables of the batch scheduler, 
to prevent concurency issues */
static struct lock lock; 

/* A int that signifies the number of free space on the bus */
static int freeSlots; 

/* A array signifying the number of waiting priority tasks. 
The place 0 in the array signifies the sending side while 1 sigfies 
the recieving side */
static int waitingPrio[2]; 

/* A array signifying the number of waiting normal tasks. 
The place 0 in the array signifies the sending side while 1 sigfies 
the recieving side */
static int waitingNorm[2];

/* The direction of the bus * /
static int dir;


---- SYNCHRONIZATION ----

>> C1: How does your solution guarantee that no more that 3 tasks
>> are using the bus in the same direction?

We have two reasons that prevents no more than 3 tasks to use 
the bus in the same direction.
1.By having a lock that enables only one process to either try to 
enter or leave the bus at a given time. 
2.After a process is waked up from its queue, the condition for 
entering the bus is checked again. If they are such that 
the task are not able to jump on the bus it's put back into the 
queue.


>> C2: What prevents tasks from opposite directions from using the
>> bus simultaneously?

There are several reasons that a task from opposite direction cant
 be on the bus at the same time.
1.We keep track of the direction of the bus with a static variable.
2.A task of opposite direction to the bus can only change the 
direction of the bus if the buss is empty. 
If the buss isn't empty the the task is placed in its respective 
queue.
3.After a process is waked up from its queue, the condition 
for entering the bus is checked again. If they are such that 
the task are not able to jump on the bus it's put back into the
queue.
4. When a task leaves the buss and is not the last one it will 
wake a task in its own directions waiting queue for a priority 
tasks.
If they are none priority tasks and there are none on the other 
side it will wake up normal task from its own direction. 
Otherwise we will wait for the buss to be completely empty 
before switiching direction and waking up tasks from the
other side.

>> C3: How does your solution grant priority to high priority tasks over
>> the waiting tasks in the same direction?

A normal priority task will always wait for a high priority tasks if they 
exist. 
When a task leaves the buss it will always try to wake high priority 
tasks first.
If there is only high priority task with a other direction then the 
buss left, the buss will wait until it's empty and the last task
will wake up high priority task on the other side.
This status is evaluated every time a task leaves the buss. 
 

>> C4: How do you guarantee that despite having priority, high priority
>> tasks do not start using the bus while there are still still using
>> it in the oposite direction?
A tasks can only switch the direction of the buss if the buss is empty.
Also see reasons in C1

---- RATIONALE ----

>> C6: Why did you choose this design? Did you consider other design 
>> alternatives? In what ways is it superior to another design you considered?

We choose this design as we believe it most easily deal with the different 
concurrencies issues that can appear during the simulation. The design we 
choose can be describe as creating 4 queues to encompass the different 
direction and priority combination, and creating a lock that enables 
only one process to change the data of the buss at the same time.

When we started discussing the solutions for the problem we suggested 
creating queues that were modelled after the different events the task
was waiting for i.e. "waiting for one tasks", "waiting for the buss to 
change direction" and etc. 

This in contrast to our final design would have created several areas
in the code were we would have to evaluate the direction and priority of
awakened tasks and would have been detrimental to the code.

			   SURVEY QUESTIONS (optional)
			   ===========================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?
David - I think that the work assignment was quite fair in both time and
work given. 

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?
David - I think that working with the synchronization and dealing with 
these problems were particularly helpful for me to understand what
is required on the process managing side of OS.

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?
David - It's very helpful to write pseudo code and discussing the problem 
before implementing a solution for the synchronization. It makes it 
especially easy to identify the concurrency issues that appears in the 
assignment.

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters?

>> Any other comments?
